a.event {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    margin-bottom: 2px;
    /* -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
    /* box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4); */
    /* border-radius: 8px; */
    border: 1px solid #ffffff;
}


.bg-cal-available{
	background-color: #7CC784;
}

.bg-cal-unavailable{
	background-color: #FA9B98;
}

.bg-cal-unavailable-booking{
	background-color: #0085FF;
}