<style type="text/css">
    .list-unstyled, .list-unstyled li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
}
  .nav-tabs .nav-link {
    border: 1px solid #0000;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
  .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  .tab-content>.tab-pane {
      display: none;
  }
  .tab-content>.active {
      display: block;
  }

  .btn {
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 11px;
    border-radius: 15px;
    text-decoration: none !important;
  }

  .btn-outline-secondary {
    background: #999;
    color: #fff !important;
  }
  .btn-outline-secondary:hover {
    background: #555;
  }

  .reladminback {
    margin-top: -8px;
    margin-bottom: 8px;
  }
</style>