{% extends 'admin/base_site.html' %}

{% block object-tools %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                {{ form.owners.errors }}
                <label for="{{ form.owners.id_for_label }}">Properties json:</label>
                {{ form.owners }}
            </div>
            <div class="col-md-3">
                <button type="submit" class="small btn btn-success">Upload Properties</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
{% endblock %}
