{% load i18n static %}
<div id="property-featured-widget" class="hide" style="display:none;">

	<div>
    <label style="float:none; width:auto;" class="featured-widget-visible">
      <input type="radio" name="wgt-featured" value="1">
      {% trans 'Featured' %} <i class="fa fa-star" aria-hidden="true"></i>
      <span class="info badge">{% trans 'as of' %} <span></span></span>
    </label>
	</div>
	<div>
    <label style="float:none; width:auto;" class="featured-widget-hidden">
      <input type="radio" name="wgt-featured" value="0">
      {% trans 'not now' %}
      <span class="info badge">{% trans 'will become visible on' %} <span></span></span>
    </label>
	</div>

  <br>

	<a class="featured-widget-pub_date btn btn-success btn-small" href="#">
	  {% trans 'Set a specific publish date' %}
	  <span class="fa fa-calendar"></span>
	</a>

	<a class="featured-widget-clear_pub_date" href="#">&nbsp;{% trans 'clear date' %}</a>

	<a class="featured-widget-pub_end_date btn btn-info btn-small" href="#">
	  {% trans 'Set a expiration date' %}
	  <span class="fa fa-calendar-o"></span>
	</a>
  <a class="featured-widget-clear_pub_end_date" href="#">&nbsp;{% trans 'clear date' %}</a>

</div>

