{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        #content{
            padding-top: 0px !important;
        }
        #sortable1,
        #sortable2{
            list-style-type: none;
            margin: 0;
            float: left;
            /*margin-right: 10px; */
            background: #eee;
            padding: 10px;
            width: 100%;
            height: 100%
        }
        #sortable1 li,
        #sortable2 li{
            /*margin: 5px; */
            margin-bottom: 5px;
            padding: 5px;
            font-size: 1em;
            width: 100%;
        }

        .ui-state-highlight{
            border: 1px solid #d3d3d3 !important;
            background: #e6e6e6 url({% static "admin/images/arrow-move.png" %}) 95% 50% no-repeat !important;
        }

        .ui-state-default{
            border: 1px solid #d3d3d3 !important;
            background: #9999 url({% static "admin/images/arrow-move.png" %}) 95% 50% no-repeat !important;
        }

        fieldset.module.row h3{
            padding-left: 0 !important;
        }

        .read-more-state {
          display: none;
        }

        .read-more-target {
          opacity: 0;
          max-height: 0;
          font-size: 0;
          transition: .25s ease;
        }

        .read-more-state:checked ~ .read-more-wrap .read-more-target {
          opacity: 1;
          font-size: inherit;
          max-height: 999em;
        }

        .read-more-state ~ .read-more-trigger:before {
          content: 'Show more';
        }

        .read-more-state:checked ~ .read-more-trigger:before {
          content: 'Show less';
        }

        .read-more-trigger {
          cursor: pointer;
          display: inline-block;
          padding: 0 .5em;
          color: #666;
          font-size: .9em;
          line-height: 2;
          border: 1px solid #ddd;
          border-radius: .25em;
        }
  </style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block breadcrumbs %}
{% spaceless %}

{% endspaceless %}
{% endblock %}

{% block object-tools %}


{% endblock %}


{% block content %}


<form action="" method="post">

{% block object-toolbar %}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <a href="./" class="btn btn-inverse">{% trans 'Cancel/Back' %}</a>
        <!--input type="submit" value="{% trans 'Export' %}" name="_continue" {{ onclick_attrib }} class="btn btn-primary save-top"/-->
        <button type="submit" class="btn btn-primary" name="submit" value="submit">
            <i class="fa fa-clone"></i> {% trans "Export" %}
        </button>
    </div>
</div>
{% endblock object-toolbar %}

{% csrf_token %}
    <input type="hidden" name="action" value="{{ action_label }}">
    <input type="hidden" name="do_action" value="yes">
    {% for object in objects %}
        <input type="hidden" name="_selected_action" value="{{ object.pk }}">
    {% endfor %}

    <div class="row">

        <div class="col-sm-12">

            {% block selected-objects %}
                {% if objects|length == 1 %}
                     <h2>{% trans "Export" %} {{ model_meta.verbose_name }}</h2>
                {% else %}
                     <h2>{% trans "Export" %} {{ model_meta.verbose_name_plural }}</h2>
                {% endif %}

                <div>
                    <input type="checkbox" class="read-more-state" id="post-2" />
                    <ul class="read-more-wrap">
                        {% for object in objects %}
                        <li {% if forloop.counter > 5 %} class="read-more-target" {% endif %}>{{ object }}</li>
                        {% endfor %}
                    </ul>
                    <label for="post-2" class="read-more-trigger"></label>
                </div>

                {% if objects|length == 1 %}
                    <p><span class="badge">{{ objects|length }}</span> {{ model_meta.verbose_name }} {% trans "to Export" %}</p>
                {% else %}
                    <p><span class="badge">{{ objects|length }}</span> {{ model_meta.verbose_name_plural }} {% trans "to Export" %}</p>
                {% endif %}

            {% endblock selected-objects %}

            <hr>

            {% block select-export-fields %}
            <h4>{% trans "Select fields to export" %}</h4>
            <p>{% trans " Drag and Drop fields to select and arrange." %}</p>
            <div class="row">

                <div class="col-sm-3">
                    <h5>{% trans "Fields" %}</h5>
                    <ul id="sortable2" class="dropfalse">
                        {% for key, value in select_fields.iteritems %}
                            {% if key not in default_select_fields %}
                                <li class="ui-state-highlight">
                                <div class="hide">
                                    <input type="checkbox" name="selected_fields" value="{{key}}" >
                                </div>
                                    {{ value.name }}
                                    <p class="small">{{ value.help_text }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h5>{% trans "Export fields" %}</h5>
                    <ul id="sortable1" class="droptrue">
                        {% for key, value in select_fields.iteritems %}
                            {% if key in default_select_fields %}
                                <li class="ui-state-default">
                                <div class="hide">
                                    <input type="checkbox" name="selected_fields" value="{{key}}"  checked>
                                </div>
                                    {{ value.name }}
                                    <p class="small">{{ value.help_text }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h5>{% trans "Export Options" %}</h5>

                    {% block field_sets %}
                        {% for fieldset in form %}
                            {% include "admin/includes/fieldset.html" %}
                        {% endfor %}
                    {% endblock %}
                </div>

            </div>
        </div>
        {% endblock select-export-fields %}



        <div class="col-sm-12 text-right">
            <hr>

             <button type="submit" class="btn btn-primary" name="submit" value="submit">
                <i class="fa fa-clone"></i> {% trans "Export" %}
            </button>
        </div>

    </div>
</form>
{% endblock %}

{% block js_footer %}
{{block.super}}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>


    $(document).ready(function(){

        $( "ul.droptrue" ).sortable({
          connectWith: "ul",
          receive: function( event, ui ) {
            ui.item.find('input[type="checkbox"]').prop('checked', true);
          }
        });

        $( "ul.dropfalse" ).sortable({
          connectWith: "ul",
          dropOnEmpty: false,
          receive: function( event, ui ) {
            ui.item.find('input[type="checkbox"]').prop('checked', false);
          }

        });

        $( "#sortable1, #sortable2" ).disableSelection();

        $( "#id_export_format" ).change(function(option) {
            if ($(this).val()=="pdf") {
                $(".pdf_options").show();
            }
            else {
                $(".pdf_options").hide();
            }
        }).change();


    });


</script>

{% endblock js_footer %}
